body {
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(253, 239, 241);
    color: red;
    text-align: center;
}
header {
    font-size: 62px;
    font-weight: 900;
    margin-bottom: 100px;
}
.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 44px;
    font-weight: 800;
}
#active {
    display:block;
}
#inactive {
    display: none;
}
#button {
    background-color: crimson;
    border: none;
    color: rgb(247, 217, 217);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    transition: 1.5s;
    margin-top: 300px;
}
#button:hover {
    cursor: pointer;
    scale: 120%;
    border-radius: 50em;
    box-shadow: 4px 4px 4px black;
}